<?xml version='1.0' encoding='utf-8'?>
<Server port="8005" shutdown="SHUTDOWN">
   <Service name="DHuS-Service">
      <Connector port="8081"
         protocol="org.apache.coyote.http11.Http11NioProtocol"
         maxConnections="1000"
         maxThreads="400"
         keepAliveTimeout="2000"
         URIEncoding="ISO-8859-1"
         compression="on"
         compressionMinSize="1024"
         compressableMimeType="application/json,application/javascript,application/xhtml+xml,application/xml,text/html,text/xml,text/plain,text/javascript,text/css" />
      <Connector port="30333"
         protocol="org.apache.coyote.http11.Http11NioProtocol"
         maxConnections="1000"
         maxThreads="400"
         keepAliveTimeout="2000"
         URIEncoding="ISO-8859-1"
         compression="on"
         compressionMinSize="1024"
         compressableMimeType="application/json,application/javascript,application/xhtml+xml,application/xml,text/html,text/xml,text/plain,text/javascript,text/css" />
      <Engine name="DHuS-Engine" defaultHost="localhost">
         <Host name="localhost" appBase="webapps" deployOnStartup="false" autoDeploy="false">
            <Valve className="org.apache.catalina.valves.AccessLogValve"
               prefix="access_log-"
               suffix=".txt"
               directory="logs"
               pattern="%h %l %u %t %r %s %b %I %D" />
            <!-- Access Filter Settings are
                - pattern: the regular expression to filter user request.
                     i.e. "^.*(/odata/v1/).*$" only manages odata request.
                       or "^((?!/(home|new)/).)*$" consider all request but the UI.
                - useLogger="true|false" show or hide the user access in logger output.
                    This setting does impact keeping internal track of the request.
                - enable="true|false" activate/deactivate the valve.
              -->
            <Valve className="fr.gael.dhus.server.http.valve.AccessValve"
               pattern=".*"
               useLogger="true"
               enable="true" />
         </Host>
      </Engine>
   </Service>
</Server>
